@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Arcade Gamer'; /* Nombre personalizado */
    src: url('./assets/Fonts/ARCADE_N.TTF') format('truetype'); /* Ruta relativa */
    
  }
  @font-face {
    font-family: 'Bree Serif'; /* Nombre personalizado */
    src: url('./assets/Fonts/BreeSerif_T.ttf') format('truetype'); /* Ruta relativa */    
  }
    
  